<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Client.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>5.13.210.75</value>
            </setting>
            <setting name="ServerToClientPort" serializeAs="String">
                <value>8010</value>
            </setting>
            <setting name="ClientToServerPort" serializeAs="String">
                <value>8011</value>
            </setting>
            <setting name="SaveDirectoryPath" serializeAs="String">
                <value>C:\Mac\C#\Online pixel drawing\Client\Saves folder</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
</configuration>